@model Title
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
	@Html.DropDownListFor(x=> x.CategoryID, (List<SelectListItem>)ViewBag.v)

</div>